@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-size: 90%; /* Everything resized to make page components appear zoomed out */
    }
}

/* CUSTOM FONT CLASSES */

/* Fontdiner Swanky (from Google Fonts) */
.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

/* Rubik (from Google Fonts) */
/*  <weight>: Use a value from 300 to 900 
    <uniquifier>: Use a unique and descriptive class name 
*/
.rubik-custom-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* SCROLLBARS CLASSES */

/* Scrollbar for event items table */
.scrollbar-custom {
    -webkit-overflow-scrolling: touch;    /* Enable momentum scrolling on iOS */
}

@supports selector(::-webkit-scrollbar) {
    .scrollbar-custom::-webkit-scrollbar {
        width: 12px;
        height: 48px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #f1f5f9;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #64748b;
        border-radius: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #475569;
    }
}

/* Scrollbar: for Firefox users because it uses */
/* a different scrollbar API than other browsers */
.scrollbar-custom {
    scrollbar-color: #64748b #f1f5f9;
    scrollbar-width: thick;
}


/* BUTTON CLASSES */

/* Custom button for landing page (10/20/25) */
/* From Uiverse.io by Voxybuns */ 
.custom-button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #d5fffb;
  --button_outline_color: hsl(230, 100%, 38%);
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.custom-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-button-top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.custom-button:hover .custom-button-top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.custom-button:active .custom-button-top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.custom-button:disabled .custom-button-top {
  transform: translateY(0);
}